<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title th:text="${racao != null} ? 'Editar Tipo de Ração' : 'Cadastrar Tipo de Ração'">
        Tipo de Ração
    </title>
</head>

<body class="bg-light">
<section class="d-flex justify-content-center mt-5 mb-5">

    <div class="card shadow-sm p-4 col-12 col-md-6">

        <!-- TÍTULO -->
        <div class="text-center mb-4">
            <h2 th:text="${racao != null} ?
                    'Editar tipo de ração' :
                    'Cadastrar novo tipo de ração'">
                Tipo de Ração
            </h2>

            <p class="text-muted"
               th:text="${racao != null} ?
                    'Atualize os dados do tipo de ração.' :
                    'Adicione um novo tipo de ração que poderá ser usado no estoque da fazenda.'">
            </p>
        </div>


        <div th:if="${erro}" class="alert alert-danger">
            <p th:text="${erro}"></p>
        </div>

        <!-- O action decide automaticamente se o formulário vai criar ou editar a ração,
        mudando a URL de envio conforme a variável *racao* exista ou não no model.-->
        <form th:action="${racao != null} ?
                @{/fazenda/{fid}/racoes/{id}/editar(fid=${idFazenda}, id=${racao.id})} :
                @{/fazenda/{fid}/racoes/criar(fid=${idFazenda})}"
              method="post">

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" name="nome" class="form-control" required minlength="3"
                       th:value="${racao != null ? racao.nome : ''}">
            </div>

            <div class="mb-3">
                <label class="form-label">Fabricante</label>
                <input type="text" name="fabricante" class="form-control" required
                       th:value="${racao != null ? racao.fabricante : ''}">
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Quantidade por saco
                    <span class="text-muted">(Kg)</span>
                </label>
                <input type="number" name="kgPorSaco" class="form-control" min="0.1" step="0.1" required
                       th:value="${racao != null ? racao.kgPorSaco : ''}">
            </div>

            <!-- VALOR POR SACO -->
            <div class="mb-3">
                <label class="form-label">
                    Valor por saco
                    <span class="text-muted">(R$)</span>
                </label>
                <input type="number" name="valorPorSaco" class="form-control" min="0.01" step="0.01" required
                       th:value="${racao != null ? racao.valorPorSaco : ''}">
            </div>

            <div class="d-flex justify-content-end gap-2 mt-4">
                <a th:href="@{/fazenda/{id}/racoes(id=${idFazenda})}"
                   class="btn btn-danger">
                    Cancelar
                </a>
                <button type="submit"
                        class="btn btn-success"
                        th:text="${racao != null} ? 'Atualizar' : 'Salvar'">
                    Salvar
                </button>
            </div>

        </form>
    </div>

</section>
</body>
</html>
