<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Nova Análise de Qualidade da Água</title>
</head>

<body>
<section class="container mt-5 col-md-6">

    <h2 th:text="${parametro != null ? 'Editar Parâmetro' : 'Novo Parâmetro'}"></h2>

    <div th:if="${erro}" class="alert alert-danger">
        <span th:text="${erro}"></span>
    </div>

    <form th:action="${parametro != null} ?
        @{/fazenda/{codigo}/viveiro/{viveiroId}/qualidade-agua/parametros/{id}(
                codigo=${codigo},
                viveiroId=${viveiroId},
                id=${parametro.id})} :
        @{/fazenda/{codigo}/viveiro/{viveiroId}/qualidade-agua/parametros(
                codigo=${codigo},
                viveiroId=${viveiroId})}"
          method="post">

    <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" name="nome" class="form-control"
                   th:value="${parametro != null ? parametro.nome : ''}" required>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <a th:href="@{/fazenda/{codigo}/viveiro/{id}/qualidade-agua/parametros(codigo=${codigo}, id=${viveiroId})}"
               class="btn btn-secondary">
                Cancelar
            </a>
            <button class="btn btn-success">Salvar</button>
        </div>
    </form>
</section>

</body>
</html>