<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Parâmetros de Qualidade da Água</title>
</head>

<body>
<section class="container mt-5">

    <div class="text-center mb-1">
        <h1>Parâmetros de Qualidade da Água</h1>
        <p class="text-muted mb-5">
            Aqui você pode gerenciar os parâmetros utilizados nas análises de qualidade da água.
        </p>
    </div>

    <div th:if="${#lists.isEmpty(parametros)}"
         class="alert alert-secondary text-center">
        Nenhum parâmetro cadastrado ainda.
    </div>

    <table th:if="${!#lists.isEmpty(parametros)}"
           class="table table-striped table-bordered align-middle">

        <thead class="table-light">
        <tr>
            <th>Nome</th>
            <th class="text-center">Ação</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${parametros}">
            <td th:text="${p.nome}"></td>

            <td class="text-center">
                <form th:action="@{/fazenda/{codigo}/viveiro/{viveiroId}/qualidade-agua/parametros/{id}/remover(
            codigo=${codigo},viveiroId=${viveiroId}, id=${p.id})}" method="post"
                      class="d-inline">
                    <a th:href="@{/fazenda/{codigo}/viveiro/{viveiroId}/qualidade-agua/parametros/{id}/editar(
                codigo=${codigo}, viveiroId=${viveiroId}, id=${p.id})}"
                       class="btn btn-outline-primary btn-sm">
                        Editar
                    </a>
                    <button type="submit"
                            class="btn btn-outline-danger btn-sm">
                        Remover
                    </button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end gap-2 mb-3">
        <a th:href="@{/fazenda/{codigo}/viveiro/{id}/abrirViveiro( codigo=${codigo}, id=${viveiroId})}"
           class="btn btn-danger">
            Voltar
        </a>
        <a th:href="@{/fazenda/{codigo}/viveiro/{id}/qualidade-agua/parametros/novo(codigo=${codigo}, id=${viveiroId})}"
           class="btn btn-success">
            Adicionar parâmetro
        </a>
    </div>

    </div>

</section>
</body>
</html>
