<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Dados do Viveiro</title>
</head>

<body>
<section class="container mt-5 pb-5">

    <!-- Cabeçalho -->
    <div class="row my-5">
        <div class="col">
            <h1 class="text-center mb-0">Perfil do Viveiro</h1>
            <p class="text-center mt-0">
                Gerencie as informações e o ciclo produtivo deste viveiro.
            </p>
        </div>
    </div>

    <!-- Botão Voltar -->
    <div class="text-end mb-4">
        <a th:href="@{/fazenda/{codigo}(codigo=${fazenda.codigo})}"
           class="btn btn-danger btn-sm">
            Voltar
        </a>
    </div>

    <!-- Informações Básicas -->
    <div class="mb-4">
        <h3>Informações Básicas</h3>
        <hr>
        <form class="d-flex gap-3">
            <div>
                <label class="form-label">Viveiro</label>
                <input type="text"
                       class="form-control"
                       th:value="${viveiro.tag}"
                       readonly>
            </div>

            <div>
                <label class="form-label">Área (m²)</label>
                <input type="text"
                       class="form-control"
                       th:value="${viveiro.area}"
                       readonly>
            </div>
        </form>
    </div>

    <!-- Linha: Ciclo | Consumo -->
    <div th:class="|row g-4 mb-2 ${ciclo != null ? 'row-cols-1 row-cols-md-2' : 'row-cols-1'}|">
        <!-- CICLO DO VIVEIRO -->
        <div class="col d-flex">
            <div class="card h-100 w-100 shadow-sm">
                <div class="card-header bg-info text-white">
                    Ciclo do Viveiro
                </div>
                <div class="card-body">
                    <div th:if="${ciclo == null}">
                        <h5 class="text-center mb-1 mt-2">
                            Este viveiro não possui ciclo ativo
                        </h5>
                        <span class="d-block text-center text-muted mt-1">
                        Inicie um novo ciclo para começar o acompanhamento produtivo
                    </span>
                    </div>
                    <div th:if="${ciclo != null}">
                        <p>
                            <strong>Laboratório:</strong>
                            <span th:text="${ciclo.laboratorio}"></span>
                        </p>
                        <p>
                            <strong>Data de povoamento:</strong>
                            <span th:text="${#temporals.format(ciclo.dataPovoamento, 'dd/MM/yyyy')}"></span>
                        </p>
                        <p>
                            <strong>Quantidade povoada:</strong>
                            <span th:text="${ciclo.quantidadePovoada}"></span>
                        </p>
                    </div>
                </div>

                <!-- AÇÕES -->
                <div class="card-footer d-flex justify-content-end mt-auto">
                    <!-- Iniciar ciclo -->
                    <a th:if="${ciclo == null}"
                       th:href="@{/fazenda/{codigo}/viveiro/{id}/ciclo/novo(codigo=${fazenda.codigo},id=${viveiro.id})}"
                       class="btn btn-sm btn-info text-white">
                        Iniciar Ciclo
                    </a>

                    <!-- Encerrar ciclo -->
                    <form th:if="${ciclo != null}"
                          th:action="@{/fazenda/{codigo}/viveiro/{id}/ciclo/encerrar(codigo=${fazenda.codigo}, id=${viveiro.id})}"
                          method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Encerrar Ciclo
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- CONSUMO DE RAÇÃO (somente com ciclo ativo) -->
        <div class="col d-flex" th:if="${ciclo != null}">
            <div class="card h-100 w-100 shadow-sm">
                <div class="card-header bg-primary text-white">
                    Consumo de Ração
                </div>
                <div class="card-body">
                    <div th:if="${consumos == null or consumos.isEmpty()}"
                         class="text-center text-muted">
                        Nenhum consumo registrado ainda.
                    </div>
                    <!-- Tabela de consumo -->
                    <table class="table table-bordered table-striped align-middle text-center mb-3">
                        <tbody>

                        <!-- Consumo por tipo -->
                        <tr th:each="entry : ${consumoPorTipo}">
                            <th th:text="${entry.key}"></th>
                            <td th:text="${entry.value} + ' Kg'"></td>
                        </tr>

                        <!-- Total -->
                        <tr class="table-secondary fw-bold">
                            <th>Consumo Total</th>
                            <td th:text="${consumoTotal} + ' Kg'"></td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <div class="card-footer d-flex justify-content-end mt-auto">
                    <a th:href="@{/fazenda/{codigo}/viveiro/{id}/consumo-racao/novo(codigo=${fazenda.codigo},id=${viveiro.id})}"
                       class="btn btn-sm btn-primary">
                        Registrar Consumo
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Biometria -->
    <div class="col d-flex" th:if="${ciclo != null}">
        <div class="card h-100 w-100 shadow-sm">
            <div class="card-header bg-primary text-white">
                Biometria
            </div>

            <div class="card-body">
                <table class="table table-bordered align-middle">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Última</th>
                        <th class="text-center">Anterior</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Data</th>
                        <td th:text="${ultimaBiometria != null ? ultimaBiometria.dataBiometria : '---'}"></td>
                        <td th:text="${penultimaBiometria != null ? penultimaBiometria.dataBiometria : '---'}"></td>
                    </tr>
                    <tr>
                        <th>Quantidade</th>
                        <td th:text="${ultimaBiometria != null ? ultimaBiometria.quantidadeAmostrada : '---'}"></td>
                        <td th:text="${penultimaBiometria != null ? penultimaBiometria.quantidadeAmostrada : '---'}"></td>
                    </tr>
                    <tr>
                        <th>Peso Médio (g)</th>
                        <td th:text="${ultimaBiometria != null ? ultimaBiometria.pesoMedio : '---'}"></td>
                        <td th:text="${penultimaBiometria != null ? penultimaBiometria.pesoMedio : '---'}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer d-flex justify-content-end gap-2">
                <a th:href="@{/fazenda/{codigo}/viveiro/{id}/biometria/historico(codigo=${fazenda.codigo}, id=${viveiro.id})}"
                   class="btn btn-dark btn-sm">
                    Histórico
                </a>
                <a th:href="@{/fazenda/{codigo}/viveiro/{id}/biometria/nova(codigo=${fazenda.codigo}, id=${viveiro.id})}"
                   class="btn btn-primary btn-sm">
                    Registrar Biometria
                </a>
            </div>
        </div>
    </div>

    <!-- Qualidade da Água -->
    <div class="col d-flex" th:if="${ciclo != null}">
        <div class="card h-100 w-100 shadow-sm">
            <div class="card-header bg-info text-white">
                Qualidade da Água
            </div>

            <table class="table table-bordered text-center"
                   th:if="${resumoAgua != null}">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Última</th>
                    <th>Anterior</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${#temporals.format(resumoAgua.ultimaData, 'dd/MM/yyyy')}"></td>
                    <td>
                        <button class="btn btn-outline-primary btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#modalUltimaAgua">
                            Ver mais
                        </button>
                    </td>
                    <td>
                        <button th:if="${resumoAgua.penultima != null}"
                                class="btn btn-outline-primary btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#modalPenultimaAgua">
                            Ver mais
                        </button>
                        <span th:if="${resumoAgua.penultima == null}">---</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:if="${resumoAgua == null}" class="text-muted text-center">
                Nenhuma análise registrada
            </div>


            <div class="card-footer d-flex justify-content-between gap-2">
                <a th:href="@{/fazenda/{codigo}/viveiro/{id}/qualidade-agua/parametros(
                   codigo=${fazenda.codigo}, id=${viveiro.id})}"
                   class="btn btn-outline-secondary btn-sm">
                    Catálogo de Parâmetros
                </a>
                <div class="d-flex gap-2">
                    <a th:href="@{/fazenda/{codigo}/viveiro/{id}/qualidade-agua/historico(
                        codigo=${fazenda.codigo}, id=${viveiro.id})}"
                       class="btn btn-dark btn-sm">
                        Histórico
                    </a>
                    <a th:href="@{/fazenda/{codigo}/viveiro/{id}/qualidade-agua/nova(
                        codigo=${fazenda.codigo}, id=${viveiro.id})}"
                       class="btn btn-info btn-sm text-white">
                        Nova Análise
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAIS DA QUALIDADE DA ÁGUA -->
    <div class="modal fade"
         id="modalUltimaAgua"
         tabindex="-1"
         th:if="${resumoAgua != null}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">
                        Qualidade da Água —
                        <span th:text="${#temporals.format(resumoAgua.ultimaData, 'dd/MM/yyyy')}"></span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div th:each="m : ${resumoAgua.ultima}">
                        <p class="mb-1">
                            <strong th:text="${m.parametro.nome}"></strong>:
                            <span th:text="${m.valor}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL PENÚLTIMA MEDIÇÃO -->
    <div class="modal fade"
         id="modalPenultimaAgua"
         tabindex="-1"
         th:if="${resumoAgua != null and resumoAgua.penultima != null}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">
                        Qualidade da Água —
                        <span th:text="${#temporals.format(resumoAgua.penultimaData, 'dd/MM/yyyy')}"></span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div th:each="m : ${resumoAgua.penultima}">
                        <p class="mb-1">
                            <strong th:text="${m.parametro.nome}"></strong>:
                            <span th:text="${m.valor}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
