<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Cadastrar Biometria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body class="bg-light">
<section class="d-flex justify-content-center mt-5 mb-5">
    <div class="card shadow-sm p-4 col-12 col-md-6 col-lg-4">
        <h2 class="mb-3">Atualizar biometria</h2>

        <!-- Alerta de erro -->
        <div th:if="${erro}" class="alert alert-danger" role="alert">
            <p th:text="${erro}"></p>
        </div>

        <!-- Alerta de sucesso (caso queira manter) -->
        <div th:if="${info}" class="alert alert-success" role="alert">
            <p th:text="${info}"></p>
        </div>

        <!-- Formulário -->
        <form th:action="@{/fazenda/{codigo}/viveiro/{viveiroId}/biometria(codigo=${codigo}, viveiroId=${viveiroId})}"
              method="post">

            <label class="form-label">Data da Coleta</label>
            <input type="date" name="dataBiometria" class="form-control mb-3" required>

            <label class="form-label">Peso total da amostra (g)</label>
            <input type="number" step="0.01" min="0.01" name="pesoTotalAmostra" class="form-control mb-3" required>

            <label class="form-label">Quantidade amostrada</label>
            <input type="number" min="1" name="quantidadeAmostrada" class="form-control mb-3" required>

            <div class="d-flex justify-content-end gap-2">
                <a th:href="@{/fazenda/{codigo}/viveiro/{viveiroId}/abrirViveiro(codigo=${codigo}, viveiroId=${viveiroId})}"
                   class="btn btn-danger">Cancelar</a>
                <button class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
