<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Histórico de Biometrias</title>
</head>

<body class="bg-light">

<section class="container mt-5">

    <!-- Cabeçalho -->
    <div class="row my-5">
        <div class="col">
            <h1 class="text-center mb-0">Histórico de Biometria</h1>
            <p class="text-center mt-0">
                Aqui você pode gerenciar todas as análises de biometria.
            </p>
        </div>
    </div>

    <!-- Nav bar -->
    <div th:replace="fragments/navbar_viveiro :: navbarViveiro( ${codigo}, ${viveiroId}, ${ciclo},${abaAtiva})"></div>


    <div class="card shadow-sm p-4">
        <h2 class="mb-3">Histórico de Biometria</h2>

        <!-- Tabela -->
        <div class="mt-4">
            <table class="table table-bordered text-center align-middle">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Peso Médio (g)</th>
                    <th style="width: 260px;">Ações</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="b : ${biometrias}">
                    <td th:text="${#temporals.format(b.dataBiometria, 'dd/MM/yyyy')}"></td>
                    <td th:text="${b.pesoMedio}"></td>

                    <td class="d-flex justify-content-center gap-2">
                        <!-- EDITAR -->
                        <a class="btn btn-primary btn-sm"
                           th:href="@{/fazenda/{codigo}/viveiro/{viveiroId}/biometria/{id}/editar(
                                codigo=${codigo},viveiroId=${viveiroId},id=${b.id})}">
                            Editar
                        </a>

                        <!-- APAGAR -->
                        <form th:action="@{/fazenda/{codigo}/viveiro/{viveiroId}/biometria/{id}/excluir(
                                codigo=${codigo},viveiroId=${viveiroId},id=${b.id})}"
                              method="post"
                              onsubmit="return confirm('Deseja realmente apagar esta biometria?');">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Apagar
                            </button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(biometrias)}">
                    <td colspan="3">Nenhuma biometria registrada</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
